{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container-flow">
<div class="row" style="padding-top:20px">
  <div class="col-6 text-light">
    <p style="padding-left: 65%;">City Name: {{city}}</p>
    <p style="padding-left: 65%;">Current Temperature: {{temp}}&#8451</p>
    <p style="padding-left: 65%;">Maximum Temperature: {{temp_max}}&#8451</p>
    <p style="padding-left: 65%;">Minimum Temperature: {{temp_min}}&#8451</p>
    <p style="padding-left: 65%;">Humidity: {{humidity}}%</p>
    <p style="padding-left: 65%;">Pressure: {{pressure}} millibars</p>
    <p style="padding-left: 65%;">Feels Like: {{feels}}&#8451</p>
  </div>
  <div class="col-6" style="padding-left:10%;" >
    <img src="{{ico}}" style=" border:solid 2px white; border-radius:100%; background-color:#ffc85c" alt="Icon for weather">
    <p class="text-light">{{desc}}</p>
  </div>
</div>
<div class="container text-center" height="50" width="50" >
  <p class="text-light">
    Your weather is like the weather on ...
    </p>
  <img src={% static i %} alt="fantasy" height=40% width=40% style="border:solid 2px white;border-radius:5%;">
  <p class="text-light">
    {{l}}
    </p>
</div>
</div>

{% endblock %}
